.bg {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.h {
	height: 600px;
	padding-top: 50px;
}

.h p {
	padding-left: 10px;
	padding-right: 10px;

}

.space {
	margin-left: 20px;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	display: inline;
}

.in {
	text-align: center;
}

h1 {
	margin: 0;
	position: relative;
	top: 200px;
	left: 50px;
	background-color: cyan;
	width: 750px;
	color: white;
	text-align: center;
}